[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ansible = "*"

[requires]
python_version = "pypy3"

[packages]
django-debug-toolbar = "*"
django-widget-tweaks = "*"
mutagen = "*"
Django = "*"
gunicorn = "*"
"psycopg2cffi" = "*"
django-environ = "*"
