{% extends "Base.html" %}
{% block content %}

    <div class="page-header" align="center">
      <h1><strong>NO VK</strong></h1>
      .tk
    </div>
	        
{% load widget_tweaks %}
<form action="/login/" method="post" class="form-group">
	{% csrf_token %}
	{% render_field form.username show_label=False class+="form-control" placeholder="Логин" %}
    <br>
	{% render_field form.password show_label=False class+="form-control" placeholder="Пароль"%}
    <br>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
<form action="/signup/">
    <button type="submit" class="btn btn-primary">Регистрация</button>
</form>
{% endblock %}