{% extends "Base.html" %}
{% block content %}

    <div class="page-header" align="center">
      <h1><strong>NO VK</strong></h1>
    </div>

{% load widget_tweaks %}

    <form action="" method="post" class="form-group">
        {% csrf_token %}

        {% for field in form %}
            {% if field.errors %}
                <div class="form-group has-error">
                {% render_field field show_label=False class+="form-control" placeholder=field.label %}
                <div class="text-danger">{{ field.errors }}</div>
                </div>
            {% else %}
                <div class="form-group has-success">
                {% render_field field show_label=False class+="form-control" placeholder=field.label %}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock %}

