{% extends "Base.html" %}
{% load static %}
{% block content %}

    <br>
    <br>
    <br>
    <br>

<style>
audio.pinned {
 width:100%;
 height:50px;
 position:fixed;
 top:0;
 z-index: 2;
}
</style>

<audio class="pinned" id = "player" controls preload="none">
        <source src="">
        Your browser does not support the audio element.
        </audio>

<ul class="nav nav-pills">
  <li class="active"><a href="{% url 'upload' %}">Загрузить</a></li>
  <li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Плэйлист
  <span class="caret"></span></a>
  <ul class="dropdown-menu" id="playlists">
      {% for playlist in playlists %}
      <li><a href="?playlist={{ playlist.number }}">{{ playlist.name }}</a></li>
      {% endfor %}
      <li><a href="{% url 'create-playlist' %}">Создать</a></li>
  </ul>
  </li>
</ul>

  <br>

    <div class="container container-table">
        <div class="row vertical-center-row">
            <div class="text-center col-xl-1">
                <span class="badge badge-warning">{{ current_playlist.name }}</span>
            </div>
        </div>
    </div>

  <br>


<table class="table table-striped table-hover" id="SongTable">
<tbody>
{% for song in songs %}
<tr class="success">
    <td class="Song"
        onclick="clickWrapper(this)"
        data-path="{{song.file}}" id="{{song.id}}">
        {{song.artist}} - {{song.title}}
    </td>
</tr>
{% endfor %}
</tbody>
</table>


{# Menu layout #}
<ul id="contextMenu" class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#">Добавить в плэйлист</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>


{# Modal for adding into playlist menu function #}
<div class="modal fade" id="add_into_playlist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-invoked_song_id=0>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="list-group">
          {% for playlist in playlists %}
            <button class="btn btn-primary btn-block" type="button" data-dismiss="modal" data-playlist-number="{{ playlist.number }}" onclick="ajax_add_to_playlist(this)">{{ playlist.name }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% csrf_token %}

<script type="text/javascript" src={% static "js/common.js" %} language="JavaScript"></script>
<script type="text/javascript" src={% static "audio/js/player.js" %} language="JavaScript"></script>
<script type="text/javascript" src={% static "audio/js/ajax.js" %} language="JavaScript"></script>


{% endblock %}