{% extends "Base.html" %}
{% load static %}
{% block content %}
{% load bootstrap3 %}

    <br>
    <br>
	<h1>Music</h1>



<style>
audio.pinned {
 width:100%;
 height:50px;
 position:fixed;
 top:0px;
}
</style>


<audio class="pinned" id = "player" controls preload="none">
        <source src="">
        Your browser does not support the audio element.
        </audio>



<table class="table table-striped table-hover">
<tbody>
{% for song in songs %}
<tr class="success">
    <td class="Song" onclick="clickWrapper(this)" id="{{song.id}}">{{song.artist}} - {{song.title}}</td>
</tr>
{% endfor %}
</tbody>
</table>



<script>
Mode = 'normal'

/*
function clickWrapper(triggeredObject) {
    //if (mode == 'normal') { triggeredObject.onended = function() {playNextSong(triggeredObject)} }
    triggeredObject.onended = function() {changeSong(triggeredObject)}
}
*/

function clickWrapper(ChosenSong) {
    Path = getSongPath(ChosenSong.id);
    var Player = document.getElementById("player");
	Player.src = Path;
	Player.play();
	
	// как вариант всегда иметь репит но при норм режиме просто на onend менять src
	if (Mode == 'repeat'){
		alert('Mode is "repeat');
	}
	else {
		// перестать это делать это мешает сделать рекурсию
		
		// на onend нужно добавить полностью автономное рекурсивное событие давая ему только точку старта
		Player.onended = function() { changeSong( Player , ChosenSong.id ) };
	};
};

function getSongPath( SongID ) {
	var Song = document.getElementById(SongID);
	var ReturningPath = Song.innerText;
	ReturningPath = ReturningPath.replace( /^/ , "/static/Music/" );
    ReturningPath = ReturningPath.replace( / - / , "/" );
    return( ReturningPath.replace( /$/ , ".mp3") );
};

function getNextSongID( SongID ) {
	Playlist = document.getElementsByClassName("Song");
	for( var i = 0; i < Playlist.length; i++ ) {
		if( Playlist[i].classList.contains("Song") && Playlist[i].id == SongID ) {
			if( i+1 == Playlist.length ){
				return( Playlist[0].id )
			}
			else{
				return( Playlist[i+1].id );
			};
		};
	};
	return( "getNextSongID ended with no result" );
};

//сделать эту функцию автономной и рекурсивной
// блядский облом похоже она уже теряет мандат на плэй нужно попробовать менять src во время воспроизведения и зациклить "момент" просто тэгом
function changeSong( Player , EndedSong ) {
	NewSongID = getNextSongID(EndedSong);
	Player.src = getSongPath(NewSongID);
	Player.load();
	Player.onended = function() { changeSong(Player, NewSongID) };
	Player.play();
}


/*
function playNextSong(NowPlayingSong) {
    var nextSongId;
        for (i = 0; i < playlist.length; i++) {
            if (playlist[i] == NowPlayingSong.id) {
                nextSongId = playlist[i+1];
            };
        };
    var nextSong = document.getElementById(nextSongId);
    nextSong.play();
    nextSong.onended = function() {playNextSong(this)};
}
*/

</script>


{% endblock %}